<div class="slide">
    <ul class="list-unstyled list-inline" id="photos">
        <li ng-repeat="item in images">
            <img id="{{item.Id}}" ng-click="sendDescription(item)" select-image load-image class="item-img img-thumbnail" />
        </li>
    </ul>
</div>
