<footer id="footer">
    <form id="image" class="form-inline">
        <label for="file">Upload File</label>
        <input name="file" type="file" id="file" get-file-exif placeholder="Upload File" class="form-control" /> <button upload-file class="btn btn-success" id="upload">Upload</button>
    </form>
</footer>
