@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img id="blah" class="hidden img-thumbnail" src="#" alt="Uploaded Image" />
            <div class="clearfix"></div>
            <div ng-show="uploadedFile != null">
                <a ng-click="showEdit = !showEdit">Edit Image Description</a>
                <div ng-if="showEdit" class="form-group">
                    <trix-editor class="form-control" angular-trix ng-model="updateModel.description"></trix-editor>
                    <button class="btn btn-success" ng-show="updateModel.id" ng-click="updateImageDescription()"> Update description</button>
                </div>
                <div class="alert alert-success col-lg-8" ng-if="updateFlag">
                    <strong>Congratulations!</strong> Description Updated <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <label ng-hide="!uploadedFile"> Image Info</label>
            <ul class="list-unstyled">
                <li ng-repeat="(key, value) in uploadedFile.exifdata"><strong ng-bind="key"></strong> <small ng-bind="value"></small></li>
            </ul>
            <div class="alert alert-danger" ng-if="showExif && uploadedFile != null">
                <strong>There is no exif!</strong> Check image exif
            </div>
        </div>
        <div class="col-lg-4" ng-if="showMap">
            <div id="home_map_canvas"></div>
        </div>
    </div>
</div>